body {
  font-family: "Poppins", sans-serif;
  font-style: normal;
}

h1 {
  font-weight: 700;
  font-size: 96px;
  line-height: 144px;
}

h2 {
  font-weight: 400;
  font-size: 40px;
  line-height: 60px;
}
